/tmp
/msi
/cygwin
/x86_64
/.vscode

/package-cache
/scripts/setup.log.full

/kestrel/project
/kestrel/installation

/src/qgis-dev/qgis
/src/qgis-dev/osgeo4w/install
/src/qgis-dev/osgeo4w/build
/src/qgis-dev/osgeo4w/osgeo4w
/src/qgis-dev/osgeo4w/package.log
/src/qgis-dev/osgeo4w/package.log.*

/var
